@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  background-color: $white;
  border-bottom: 1px solid $gray-200;
  box-shadow: $shadow-sm;
  position: sticky;
  top: 0;
  z-index: $z-index-sticky;
}

.container {
  @include container;
  @include flex-between;
  height: $header-height;
  gap: $spacing-6;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $primary;

  h1 {
    font-size: $font-size-2xl;
    margin: 0;
  }

  &:hover {
    color: $primary-dark;
  }
}

.nav {
  display: none;
  align-items: center;
  gap: $spacing-6;
  flex: 1;

  @include respond-to("md") {
    display: flex;
  }
}

.navLink {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  color: $gray-700;
  text-decoration: none;
  @include transition(color);

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: $spacing-3;
}

.username {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $gray-700;
  display: none;

  @include respond-to("sm") {
    display: inline;
  }
}
