@import '../../styles/variables';
@import '../../styles/mixins';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: $spacing-6 0;

  @include respond-to('md') {
    padding: $spacing-8 0;
  }
}

.footer {
  background-color: $gray-900;
  color: $gray-300;
  padding: $spacing-6 0;
  text-align: center;

  p {
    margin: 0;
    font-size: $font-size-sm;
  }
}
