@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  @include button-reset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: $font-weight-medium;
  border-radius: $radius-md;
  @include transition(background-color, color, transform);
  cursor: pointer;

  &:hover:not(:disabled) {
    transform: translateY(-1px);
  }

  &:active:not(:disabled) {
    transform: translateY(0);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:focus-visible {
    @include focus-ring;
  }
}

// Sizes
.sm {
  padding: $spacing-2 $spacing-3;
  font-size: $font-size-sm;
}

.md {
  padding: $spacing-3 $spacing-4;
  font-size: $font-size-base;
}

.lg {
  padding: $spacing-4 $spacing-6;
  font-size: $font-size-lg;
}

// Variants
.primary {
  background-color: $primary;
  color: $white;

  &:hover:not(:disabled) {
    background-color: $primary-dark;
  }
}

.secondary {
  background-color: $secondary;
  color: $white;

  &:hover:not(:disabled) {
    background-color: $secondary-dark;
  }
}

.outline {
  background-color: transparent;
  color: $primary;
  box-shadow: inset 0 0 0 2px $primary;

  &:hover:not(:disabled) {
    background-color: $primary;
    color: $white;
  }
}

.danger {
  background-color: $error;
  color: $white;

  &:hover:not(:disabled) {
    background-color: darken($error, 10%);
  }
}

.fullWidth {
  width: 100%;
}
